* {
    margin: 0;
    padding: 0;
}
#truckCardsContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.truckCard {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    margin-right: 10px;
}
.truckCard:last-child {
    margin-right: 0;
}

.badge {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 2px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
}

.badge:last-child {
    margin-right: 0;
}

.quirkTag {
    font-style: italic;
    color: darkred;
}

.hidden {
    display: none;
}