
@property --deg1 {
    syntax: '<angle>';
    initial-value: 217deg;
    inherits: false;
}

@property --deg2 {
    syntax: '<angle>';
    initial-value: 127deg;
    inherits: false;
}

@property --deg3 {
    syntax: '<angle>';
    initial-value: 336deg;
    inherits: false;
}





* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(var(--deg1), rgba(255,150,150,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(var(--deg2), rgba(150,255,150,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(var(--deg3), rgba(150,200,150,.8), rgba(0,0,255,0) 70.71%);
            animation: background 5s linear infinite;
            background-attachment: fixed;
}

header {
    padding : 10px 0 0;
}

.main-title {
    text-align: center;
    font-size: x-large;
}

.truckCard h1, .truckTitle {
    text-align: center;
    background-color: rgb(85, 161, 85);
    padding: 3px 8px;
    border-radius: 20px;
    
    user-select: none;
}

.selected-title {
    box-shadow: rgb(255,255,140) 0px 0px 10px;
    color: rgb(255,255,140);
    
    background-color: rgb(55, 131, 55)!important;
    cursor:zoom-out;
}

.selected-title, .truckCard input {
    position: sticky;
}
.selected-title {
    top: 0;
    margin-bottom: 20px;
}
.truckCard input {
    top: 40px
}

.unselected-title {
 color: white; 
}

.truckCard .unselected-title {
    cursor: zoom-in;
   }

#truck-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
}

.truckCard {
    display: inline-block;
    flex-basis: 300px;
    flex-grow: 1;
    padding: 10px;
    margin: 1%;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.in-card-image {
    width: 100%;
    border-radius:30px;}

.expanded {
    flex-basis: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    animation: selectCard 1s;
}

.badge {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 0.2rem .3rem;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #007bff;
    font-weight: 500;
    line-height: 2;
}

.badge:last-child {
    margin-right: 0;
}

.quirkTag {
    font-style: italic;
    color: darkred;
    list-style: disc;
    margin-left: 20px;
}

.hidden {
    display: none;
}

.search {
    text-align: center;
    margin: 20px 0;
}

input {
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    padding: 2px 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 10px 1px;
}
input:active, input:focus {
    outline: none;
    box-shadow: rgba(0, 255, 0, 0.7) 0 0 10px 1px;
}
p {
    font-weight: 600;
}



@keyframes background {
    from {    
    --deg1: 217deg;
    --deg2: 127deg;
    --deg3: 336deg;    
    }
    to {    
    --deg1: 577deg;
    --deg2: 487deg;
    --deg3: 696deg;    
    }
}

@keyframes selectCard {
    from {background-color: rgba(255, 255, 255, 0.2);}
    to {background-color: rgba(255, 255, 255, 0.6);}
        
}