* {
    margin: 0;
    padding: 0;
}

.truckCard h1, .truckTitle {
    text-align: center;
    background-color: green;
    padding: 0 2%;
    border-radius: 20%;
    
    user-select: none;
}


.selected-title {
    outline: solid 3px yellow;
    color: yellow;
    cursor:zoom-out;
    height: 40px;
}

.selected-title, .truckCard input {
    position: sticky;
}
.selected-title {
    top: 0;
    margin-bottom: 20px;
}
.truckCard input {
    top: 40px
}

.unselected-title {
 color: white; 
}

.truckCard .unselected-title {
    cursor: zoom-in;
   }

#truck-cards-container {
    display: flex;
    flex-wrap: wrap;
    
}

.truckCard {
    display: inline-block;
    border: 1px solid black;
    width:20%;
    min-width: 30%;
    padding: 10px;
    margin-right: 10px;
}
.truckCard:last-child {
    margin-right: 0;
}

.expanded {
    width:100%;
}

.badge {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 2px;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
}

.badge:last-child {
    margin-right: 0;
}

.quirkTag {
    font-style: italic;
    color: darkred;
}

.hidden {
    display: none;
}

input {
    font-size: larger;
    font-weight: bolder;
}